{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
    <main class="login-container">
      <article class="signup-wrapper" style="display: none;">
        <form action="/signup" method="POST" class="login-form">
          <div class="form-content">
            <h1>Sign up</h1>

            <label for="email">Email</label>
            <input type="text" id="signup_email" name="signup_email" minlength="10" required />

            <label for="signup_username">Username:</label>
            <input type="text" id="signup_username" name="signup_username" minlength="3" required />

            <label for="signup_password">Password:</label>
            <input type="password" id="signup_password" name="signup_password" minlength="5" required />
        
            <button type="submit">Sign up</button>
          </div>
        </form>
      </article>
      <article>
        <form action="/login" method="POST" class="login-form">
          <div class="form-content">
            <h1>Log in</h1>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" minlength="10"> 
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" minlength="5">
        
            <button type="submit">Login</button>
            <!-- SHOW SIGNUP WRAPPER WHEN CLICKING BUTTON AND HIDE BOTTOM SIGNUP BUTTON -->
            <button type="button" onclick="document.querySelector('.signup-wrapper').style.display = 'block'; this.style.display = 'none'; ">SIGN UP</button>
          </div>
        </form>
      </article>
      <article></article>
    </main>
  {% endblock %}
