{% extends "base.html" %} {% block title %}Main menu{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/main_menu.css">
<main class="main-menu">
    <a class="menu-link" href="/game/new-game">
        <div class="menu-option new-game"></div>
    </a>
    <a class="menu-link" href="/load-game">
        <div class="menu-option load-game"></div>
    </a>
    <a class="menu-link" href="/options">
        <div class="menu-option options"></div>
    </a>
    <a class="menu-link" href="/logout">
        <div class="menu-option exit"></div>
    </a>
</main>

{% endblock %}
