<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main_menu.css">
    <link rel="stylesheet" href="../static/main_styles.css">
    <title>Main</title>
</head>
<body>
    <main class="main-menu">
        <a class="menu-link" href="/new-game">
            <div class="menu-option new-game"></div>
        </a>
        <a class="menu-link" href="/load-game">
            <div class="menu-option load-game"></div>
        </a>
        <a class="menu-link" href="/options">
            <div class="menu-option options"></div>
        </a>
        <a class="menu-link" href="/exit">
            <div class="menu-option exit"></div>
        </a>
    </main>
</body>
</html>