<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGGED OUT</title>
  </head>
  <body>
    <main>
      <article>
        <h2>SUCCESSFULLY LOGGED OUT</h2>
        <script>
          window.addEventListener("DOMContentLoaded", () => {
            setTimeout(() => {
              window.location.href = "/";
            }, 2500);
          });
        </script>
      </article>
    </main>
  </body>
</html>
