body {
  background-image: url("./images/main_background.png");

  background-size: cover;
}

/* Media query for wide screens (greater than 1200px wide) */
@media (min-width: 1200px) {
  body {
    background-image: url("./images/main_background.png");
    background-size: cover;
  }
}

/* Media query for medium-sized screens (between 768px and 1199px wide) */
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    background-image: url("./images/main_background.png");
    background-size: cover;
  }
}

/* Media query for small screens (less than 768px wide) */
@media (max-width: 767px) {
  body {
    background-image: url("./images/768_bg.png");
    background-size: cover;
  }
}
